<tr>
    <td style="padding: 30px; text-align: center;">
        <h2 style="margin: 0;">{{title}}</h2>
        <p style="margin: 18px 0;text-align: left;">{{message}}</p>
        <a href="{{buttonUrl}}" class="button" style="background-color: rgb(24, 24, 27); color: rgb(250, 250, 250); padding: 12px 24px; border-radius: 5px; text-decoration: none; font-weight: bold; display: inline-block; margin: 20px 0;">{{buttonText}}</a>
    </td>
</tr>
