<!-- Footer -->
<tr>
    <td style="background-color: #f3f3f3; padding: 15px; text-align: center; color: #555;">
        <p style="margin: 0;">&copy;{{currentYear}} {{brandName}}</p>
        <a href="{{publicOrigin}}" style="color: #3276dc;">Help Center</a>
    </td>
</tr>