<tr>
    <td style="padding: 30px; text-align: center;">
        <h2 style="margin: 0;">Reset Your Password</h2>
        <p style="margin: 18px 0;text-align: left;">If you did not request this change, please ignore this email. Otherwise, click the button below to reset your password.</p>
        <a href="{{resetPasswordUrl}}" class="button" style="background-color: rgb(24, 24, 27); color: rgb(250, 250, 250); padding: 12px 24px; border-radius: 5px; text-decoration: none; font-weight: bold; display: inline-block; margin: 20px 0;">Reset Password</a>
    </td>
</tr>
