# All node_modules directories
node_modules
**/node_modules
**/dist
**/.next

# All secrets
**/.env.local
**/.env.*.local

# By default all git files
.git
.gitignore
.gitattributes
.github

# Tools caches
.cache/*
**.tsbuildinfo
**/.eslintcache

# Used when building with nextjs (next-eslint)
!.eslintrc.base.json
!.prettierignore
!.prettierrc.js
!.eslintignore

# npm
!.npmrc

# Docker related
.dockerignore
Dockerfile
docker-compose.yml
docker-compose.*.yml
dockers/**

# Log files
logs
*.log

# Temp files
tmp
*.tmp

# IDE related
.idea
.vscode

# other
**/.assets
.DS_Store
*.md