.ResizeHandleOuter {
  flex: 0 0 1px;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  outline: none;

  --background-color: hsl(var(--bc) / var(--tw-bg-opacity));
}
.ResizeHandleOuter[data-resize-handle-active],
.ResizeHandleInner[data-collapsed] {
  --background-color: hsl(var(--bc) / var(--tw-bg-opacity));
}

@media (max-width: 500px) {
  .ResizeHandleOuter {
    flex: 0 0 2.5rem;
  }
}

.ResizeHandleInner {
  flex: 1;
  border-radius: 0.75rem;
  background-color: var(--background-color);
  transition: background-color 0.2s linear;
  position: relative;
}

.ResizeHandleInner::after {
  height: 1rem;
  width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: var(--color-solid-resize-bar);
  position: absolute;
  left: calc(50% - 0.5rem);
  top: calc(50% - 0.5rem);
}

.HorizontalIcon,
.VerticalIcon {
  color: var(--color-solid-resize-bar);
  position: absolute;
  left: calc(50% - 0.5rem);
  top: calc(50% - 0.5rem);
}

.ResizeHandleOuter[data-panel-group-direction='horizontal'] .HorizontalIcon,
.ResizeHandleOuter[data-panel-group-direction='vertical'] .VerticalIcon {
  display: block;
}
.ResizeHandleOuter[data-panel-group-direction='vertical'] .HorizontalIcon,
.ResizeHandleOuter[data-panel-group-direction='horizontal'] .VerticalIcon {
  display: none;
}
.ResizeHandleOuter[data-resize-handle-active] .HorizontalIcon,
.ResizeHandleOuter[data-resize-handle-active] .VerticalIcon {
  display: none;
}
