:root {
  --color-foreground: hsl(0deg 0% 100%);
  --color-background: hsl(0deg 0% 7%);
  --color-links: hsl(213deg 100% 73%);
  --color-links-hover: hsl(213deg 100% 80%);
  --color-border: hsl(0deg 0% 25%);
}
