#######################################################################################
# 1. BUILD ENVIRONMENT - Consumed by next.config.mjs during build and development     #
#######################################################################################
NEXT_BUILD_ENV_OUTPUT=classic
NEXT_BUILD_ENV_SOURCEMAPS=false
NEXT_BUILD_ENV_LINT=false
NEXT_BUILD_ENV_TYPECHECK=false
NEXT_BUILD_ENV_CSP=true
NEXT_BUILD_ENV_SENTRY_ENABLED=false
NEXT_BUILD_ENV_SENTRY_UPLOAD_DRY_RUN=true
NEXT_BUILD_ENV_SENTRY_DEBUG=false
NEXT_BUILD_ENV_SENTRY_TRACING=false

# ↓↓↓↓↓↓↓↓ frontend（nextjs） env ↓↓↓↓↓↓↓↓
NEXTJS_DISABLE_SENTRY=true
NEXTJS_SENTRY_UPLOAD_DRY_RUN=true

# ↓↓↓↓↓↓↓↓ backend（nestjs） env ↓↓↓↓↓↓↓↓
NEXTJS_DIR=../nextjs-app
LOG_LEVEL=info
PORT=3000
SOCKET_PORT=${PORT}

BACKEND_MAIL_SERVICE=<you mail service: example@gmail.com>
BACKEND_MAIL_HOST=<you mail host: example@gmail.com>
BACKEND_MAIL_PORT=<you mail port: 465>
BACKEND_MAIL_SECURE=<you mail secure: true>
BACKEND_MAIL_AUTH_USER=<you mail user: username>
BACKEND_MAIL_AUTH_PASS=<you mail pass: usertoken>

# DATABASE_URL
# @see https://www.prisma.io/docs/reference/database-reference/connection-urls#examples
PRISMA_DATABASE_URL=file:../../db/main.db

SWAGGER_ENABLED=true

OPENAI_API_KEY=
OPENAI_API_ENDPOINT=
