:root[data-theme='light'] {
  --color-primary: #661ae6;
  --color-success: #37d39a;
  --color-warning: #fabd23;
  --color-error: #f97272;
  --color-info: #3bbff7;
  --color-text-base: #1f2937;
  --color-bg-base: #ffffff;
  --color-text: rgba(31, 41, 55, 0.88);
  --color-text-secondary: rgba(31, 41, 55, 0.65);
  --color-text-tertiary: rgba(31, 41, 55, 0.45);
  --color-text-quaternary: rgba(31, 41, 55, 0.25);
  --color-fill: rgba(31, 41, 55, 0.15);
  --color-fill-secondary: rgba(31, 41, 55, 0.06);
  --color-fill-tertiary: rgba(31, 41, 55, 0.04);
  --color-fill-quaternary: rgba(31, 41, 55, 0.02);
  --color-bg-layout: #f5f5f5;
  --color-bg-container: #ffffff;
  --color-bg-elevated: #ffffff;
  --color-bg-spotlight: rgba(31, 41, 55, 0.85);
  --color-border: #d9d9d9;
  --color-border-secondary: #f0f0f0;
  --color-primary-bg: #f4e8ff;
  --color-primary-bg-hover: #dfbfff;
  --color-primary-border: #c796ff;
  --color-primary-border-hover: #ad6eff;
  --color-primary-hover: #8841f2;
  --color-primary-active: #470bbf;
  --color-primary-text-hover: #8841f2;
  --color-primary-text: #661ae6;
  --color-primary-text-active: #470bbf;
  --color-success-bg: #f0fff7;
  --color-success-bg-hover: #e6fff2;
  --color-success-border: #b9fadc;
  --color-success-border-hover: #8aedc2;
  --color-success-hover: #8aedc2;
  --color-success-active: #24ad80;
  --color-success-text-hover: #5ee0ac;
  --color-success-text: #37d39a;
  --color-success-text-active: #24ad80;
  --color-error-bg: #fff2f0;
  --color-error-bg-hover: #fff2f0;
  --color-error-border: #fff1f0;
  --color-error-border-hover: #ffcbc7;
  --color-error-hover: #ffa19e;
  --color-error-active: #d4575b;
  --color-error-text-hover: #ffa19e;
  --color-error-text: #f97272;
  --color-error-text-active: #d4575b;
  --color-warning-bg: #fffdf0;
  --color-warning-bg-hover: #fff7c7;
  --color-warning-border: #ffed9e;
  --color-warning-border-hover: #ffe175;
  --color-warning-hover: #ffe175;
  --color-warning-active: #d49713;
  --color-warning-text-hover: #ffd24d;
  --color-warning-text: #fabd23;
  --color-warning-text-active: #d49713;
  --color-info-bg: #f0fdff;
  --color-info-bg-hover: #e0faff;
  --color-info-border: #b8f1ff;
  --color-info-border-hover: #8fe5ff;
  --color-info-hover: #8fe5ff;
  --color-info-active: #2899d1;
  --color-info-text-hover: #66d6ff;
  --color-info-text: #3bbff7;
  --color-info-text-active: #2899d1;
  --color-bg-mask: rgba(0, 0, 0, 0.45);
  --color-white: #fff;
}

:root[data-theme='dark'] {
  --color-primary: #4d0ed6;
  --color-success: #32b686;
  --color-warning: #d8a421;
  --color-error: #d76464;
  --color-info: #35a5d5;
  --color-text-base: #a6adbb;
  --color-bg-base: #2a303c;
  --color-text: rgba(166, 173, 187, 0.85);
  --color-text-secondary: rgba(166, 173, 187, 0.65);
  --color-text-tertiary: rgba(166, 173, 187, 0.45);
  --color-text-quaternary: rgba(166, 173, 187, 0.25);
  --color-fill: rgba(166, 173, 187, 0.18);
  --color-fill-secondary: rgba(166, 173, 187, 0.12);
  --color-fill-tertiary: rgba(166, 173, 187, 0.08);
  --color-fill-quaternary: rgba(166, 173, 187, 0.04);
  --color-bg-layout: #2a303c;
  --color-bg-container: #3b4354;
  --color-bg-elevated: #434d60;
  --color-bg-spotlight: #616e8a;
  --color-border: #616e8a;
  --color-border-secondary: #525e75;
  --color-primary-bg: #17112b;
  --color-primary-bg-hover: #1e0f43;
  --color-primary-border: #281258;
  --color-primary-border-hover: #32117b;
  --color-primary-hover: #7233e8;
  --color-primary-active: #400fa8;
  --color-primary-text-hover: #7233e8;
  --color-primary-text: #4d0ed6;
  --color-primary-text-active: #400fa8;
  --color-success-bg: #142520;
  --color-success-bg-hover: #183a2f;
  --color-success-border: #1f4d3c;
  --color-success-border-hover: #246a50;
  --color-success-hover: #246a50;
  --color-success-active: #2b906b;
  --color-success-text-hover: #57cc9d;
  --color-success-text: #32b686;
  --color-success-text-active: #2b906b;
  --color-error-bg: #2b1a1c;
  --color-error-bg-hover: #442526;
  --color-error-border: #593030;
  --color-error-border-hover: #7b3e3e;
  --color-error-hover: #e89390;
  --color-error-active: #a95151;
  --color-error-text-hover: #e89390;
  --color-error-text: #d76464;
  --color-error-text-active: #a95151;
  --color-warning-bg: #2b2212;
  --color-warning-bg-hover: #443514;
  --color-warning-border: #594719;
  --color-warning-border-hover: #7c601b;
  --color-warning-hover: #7c601b;
  --color-warning-active: #aa821e;
  --color-warning-text-hover: #e8bf47;
  --color-warning-text: #d8a421;
  --color-warning-text-active: #aa821e;
  --color-info-bg: #15232b;
  --color-info-bg-hover: #193543;
  --color-info-border: #204758;
  --color-info-border-hover: #26617a;
  --color-info-hover: #26617a;
  --color-info-active: #2d83a8;
  --color-info-text-hover: #5ec3e8;
  --color-info-text: #35a5d5;
  --color-info-text-active: #2d83a8;
  --color-bg-mask: rgba(0, 0, 0, 0.45);
  --color-white: #fff;
}
