@import url('@teable/ui-lib/shadcn/global.shadcn.css');

:root {
  --btn-text-case: none;
  --focus-border: hsl(var(--primary)) !important;
  --separator-border: hsl(var(--border)) !important;
}

svg.icon {
  fill: currentColor;
}

[type='search']:focus {
  box-shadow: inherit;
}

html,
body {
  overflow: hidden;
}
