@import url('@teable/ui-lib/shadcn/global.shadcn.css');
@import url('nprogress/nprogress.css');

:root {
  --btn-text-case: none;
  --focus-border: hsl(var(--primary)) !important;
  --separator-border: hsl(var(--border)) !important;
}

svg.icon {
  fill: currentColor;
}

[type='search']:focus {
  box-shadow: inherit;
}

html,
body {
  overflow: hidden;
}

.select-field-type [cmdk-list] {
  max-height: min(600px, calc(100vh - 300px));
}

.height-preserving-container:empty {
  min-height: calc(var(--child-height));
  box-sizing: border-box;
}
